<?php
$CONFIG = array (
  'instanceid' => 'ocrio37ugqzc',
  'passwordsalt' => 'Rd5sPdUowzH9Pc2OJp0oC6mF+WG10E',
  'secret' => 'RWZpiLcrg14Yw7/AAv0vjrJpWfYr9gMPFx22BfkNw1ItNuv1',
  'trusted_domains' =>
  array (
    0 => '192.168.2.149',
    1 => 'gf3-nextcloud.local',
  ),
  'datadirectory' => '/mnt/ssd/nextcloud/data',
  'dbtype' => 'mysql',
  'version' => '31.0.4.1',
  'overwrite.cli.url' => 'http://192.168.2.149',
  'dbname' => 'nextcloud',
  'dbhost' => 'localhost',
  'dbport' => '',
  'dbtableprefix' => 'oc_',
  'mysql.utf8mb4' => true,
  'dbuser' => 'admin',
  'dbpassword' => 'Nhan17.9',
  'installed' => true,
  'memcache.locking' => '\\OC\\Memcache\\Redis',
  'memcache.local' => '\\OC\\Memcache\\Redis',
  'redis' =>
  array (
     'host' => '/var/run/redis/redis.sock',
     'port' => 0,
    // 'host' => 'localhost',
    // 'port' => 6379,
    // 'timeout' => 0.0,
  ),
  'loglevel' => 2,
  'log_rotate_size' => 104857600,
  'maintenance' => false,
  'enable_previews' => false,
  'enabledPreviewProviders' =>
  array (
    'OC\Preview\PNG',
    'OC\Preview\JPEG',
    'OC\Preview\JPG',
    'OC\Preview\GIF',
  ),
);